*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background: pink;
    color: #292622;
    font-family: var(--sans);
}
.app{
min-height: 100vh;
display: flex;
background: rgb(243, 237, 238);
}
.sidebar{
    display: flex;
    flex-direction: column;
     width: 260px;
     min-height: 100vh;
    border-right: 1px solid #ddd6cd;
    padding: 25px 16px;

}
.brand{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 5px 20px;
    border-bottom: 1px solid rgba(102, 90, 69, 0.1);
}
.sun-logo{
     width: 38px;
    height: 38px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 5px;

    color: #e1a53e;

    font-size: 31px;

}
.brand-name{
    display: flex;
    flex-direction: column;

    font-family: var(--serif);

    line-height: 1;

}
.brand-name strong{
    font-family: Georgia, serif;
    font-size: 20px;
    font-style: italic;
    color: #a74729;
}
.brand-name span{
    font-family: Georgia, serif;
    font-size: 17px;
    font-weight: 700;
}
.navigation{
padding-top: 16px;

}
.navigation a{
       display: flex;
    align-items: center;
    gap: 10px;

    padding: 12px 14px;
    margin-bottom: 2px;

    text-decoration: none;
    color: #45413d;

    border-radius: 8px;

    font-size: 14px;
}
.nav-item{
    position: relative;

    height: 41px;

    display: flex;
    align-items: center;

    gap: 12px;

    padding: 0 12px;

    margin-bottom: 6px;

    border-radius: 8px;

    text-decoration: none;

    color: #5c5751;

    font-size: 14px;

    transition:
        background .25s ease,
        color .25s ease,
        transform .25s ease;

}
.nav-item:hover {
    background: #f0ebe4;

    transform: translateX(2px);
}


.nav-item.active {
    background: #ffffff;

    color: #2c2824;

    box-shadow:
        0 2px 8px rgba(45, 36, 25, .04);
}


.nav-icon {
    width: 17px;

    text-align: center;

    font-size: 25px;

        color: #625e58;
}
.notification{
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #a74729;

    color: white;
    width: 17px;
    height: 17px;
}
.weather-card{
    position: relative;
    overflow: hidden;
    margin-top: auto;
    min-height: 103px;
    border-radius: 15px;
    background-color:  #f5d77c;
     padding: 15px 16px;
}
.weather-card::after {
    content: "";

    position: absolute;

    width: 65px;
    height: 65px;

       right: -10px;
    top: -18px;

    border-radius: 50%;

    background: #eebd3e;

    opacity: .65;
}
.weather-top{
    display: flex;
    justify-content: space-between;
     position: relative;
    z-index: 2;
}
.weather-top span {
    font-family: var(--mono);

    font-size: 9px;

    letter-spacing: 1px;

    color: #62533b;
}
.weather-sun {
    width: 15px;
    height: 15px;
}
.temperature{
     margin-top: 8px;

    font-family: var(--serif);

    font-size: 30px;

    line-height: 1;
}
.weather-description{
      margin-top: 5px;

    font-size: 11px;

    color: #665a45;
}
.sidebar-footer{
    padding-top: 25px;
}
.established{
    padding-top: 18px;
    border-top: 1px dashed rgba(102, 90, 69, 0.1);

    font-family: var(--mono);

    font-size: 9px;

    letter-spacing: 1px;

    color: #817a70;
}
.address{
   margin-top: 14px;

    font-family: var(--mono);

    font-size: 8px;

    line-height: 1.7;

    letter-spacing: .6px;

    color: #716c65; 
}
.copyright{
      margin-top: 10px;

    font-family: var(--mono);

    font-size: 8px;

    color: #aaa39a;
}
.main{
    flex: 1;
    padding: 32px 40px 42px;
    max-width: 1250px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.booking-status{
    font-size: 15px;
    font-family: var(--mono);
}
.welcome-message {
    margin-top: 52px;
}

.welcome h1 {
    margin-top: 9px;

    font-family: var(--serif);

    font-size: 35px;

    font-weight: 400;

    line-height: 1.1;
   color: rgb(43, 15, 15);
}

.welcome h1 em{
    color: rgb(177, 54, 10);
}
.header-buttons {
    display: flex;

    gap: 12px;

    padding-top: 17px;
}
.secondary-button,
.primary-button {
    border-radius: 25px;

    padding: 11px 19px;

    font-size: 12px;

    transition:
        transform .2s ease,
        box-shadow .2s ease;
        cursor: pointer;
}
.secondary-button {
    background: #fffdfa;

    border: 2px solid var(--border);

    color: #403b36;
    
}
.primary-button {
    border: 1px solid #27231f;

    background: #27231f;

    color: white;
}
.primary-button 
.secondary-button:hover{
    transform: translateY(-2px);

    box-shadow: 0 6px 15px rgba(0,0,0,.08);
}
.hero{
    display: flex;
     min-height: 475px;
     position: relative;
     align-items: center;
     justify-content: space-between;
     gap: -20px;
     padding-top: 20px;
     padding-left: 65px;
     

}
.receipt{
    width: 410px;
    height: 380px;
    background:
        linear-gradient(
            145deg,
            #fffefa,
            #f9f6f0
        );
        border-radius: 7px;
        padding: 25px 27px;
            position: relative;
    z-index: 1;

    transform:
        rotate(-4deg)
        translateX(25px);
            box-shadow:
        0 18px 30px rgba(66, 49, 33, .13);

    transition:
        transform .45s cubic-bezier(.2,.8,.2,1),
        box-shadow .30s ease;


}
.receipt-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(102, 90, 69, 0.1);

}
.receipt:hover {
    transform:
        rotate(-1deg)
        translateX(5px)
        translateY(-10px);

    box-shadow:
        0 30px 45px rgba(66, 49, 33, .18);
}
.receipt::after {
    content: "";

    position: absolute;

    bottom: -7px;
    left: 5px;
    right: 5px;

    height: 14px;

    background:
        linear-gradient(
            135deg,
            transparent 0 4px,
            #fffefa 4px 8px,
            transparent 8px 12px
        );

    opacity: .8;
}
.receipt-label{
    font-size: 11px;
     font-family: var(--mono);


    letter-spacing: 1px;

    color: #756e66;
}
.receipt-header h2{
    text-align: right;

    font-family: var(--mono);

    font-size: 17px;

    line-height: 1.6;

    color: black;

}
.receipt-number{
    text-align: right;
    text-align: right;

    font-family: var(--mono);

    font-size: 8px;

    line-height: 1.6;

    color: #777067;
}
.receipt-dates{
    display: grid;
    grid-template-columns: 1fr 1fr;
     gap: 20px;

    padding: 21px 8px 18px;

    border-bottom: 1px solid rgba(102, 90, 69, 0.1);
}

.date-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.date-column span{
     font-family: var(--mono);

    font-size: 8px;

    letter-spacing: 1px;

    color: #817a71;
}
.date-column strong{
     font-family: var(--mono);

    font-size: 25px;

    letter-spacing: 1px;

    color: black;
}
.date-column small{
    margin-top: 2px;

    font-size: 10px;

    color: #77716a;
}
.receipt-items{
    padding: 14px 0 10px;
    border-bottom: 1px solid rgba(102, 90, 69, 0.3);

}
.receipt-row{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.receipt-row span{

}
.receipt-strong{
    margin-top: 2px;

    font-size: 10px;

    color: #77716a;
}
.receipt-total{
display: flex;
justify-content: space-between;
align-items: center;
 font-family: var(--mono);

    font-size: 20px;

    font-weight: 400;
    margin-top: 8px;
}
.receipt-total span{
      font-family: var(--mono);

    font-size: 10px;

    letter-spacing: 1.2px;

    color: #716b63; 
}
.receipt-total strong{
    font-size: 20px;
    font-family: var(--serif);

}
.receipt-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.receipt-bottom span{
    font-family: var(--mono);

    font-size: 8px;

    letter-spacing: 1px;

    color: #817a72;
}
.barcode{
    font-family: var(--mono);

    font-size: 20px;

    letter-spacing: 1px;

    color: #0c0c0c;
}
.welcome-card{
     width: 410px;
    height: 380px;

    position: relative;
    z-index: 2;

    margin-right: 107px;

    padding: 27px 28px;

    border-radius: 16px;

    color: white;

    background:
        linear-gradient(
            150deg,
            #c64d20 0%,
            #a9371c 100%
        );

    transform:
        rotate(4deg)
        translateY(3px);
   box-shadow:
        0 25px 40px rgba(151, 53, 24, .28);
        top: -20px;
         transition:
        transform .45s cubic-bezier(.2,.8,.2,1),
        box-shadow .45s ease;

   
}
.welcome-card:hover {
    transform:
        rotate(1deg)
        translateY(-12px)
        scale(1.015);

    box-shadow:
        0 35px 55px rgba(151, 53, 24, .33);
}
.welcome-card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.welcome-card-top span{
   font-family: var(--mono);

    font-size: 9px;

    letter-spacing: 1.2px;
}
.small-sun{
    font-size: 39px;

    line-height: 1;

    color: #f8d55e;
}
.welcome-message{
    margin-top: 40px;
}
.welcome-message p:first-child{
font-size: 19px;
font-style: italic;
color: #f6db91;
font-family: var(--serif);
}
.welcome-message h2 {
     margin-top: px;

    font-family: var(--serif);

    font-size: 37px;

    font-weight: 400;

    font-style: italic;
}
.message-line{
     width: 100%;

    height: 1px;

    

    background:
        repeating-linear-gradient(
            to right,
            rgba(255,255,255,.18) 0 4px,
            transparent 4px 8px
        );
}
.message-text{
     max-width: 310px;

    font-size: 13px;

    line-height: 1.6;

    color: rgba(255,255,255,.88);
    margin-top: 20px;
}
.room-name{
    display: flex;
    flex-direction: column;
    bottom: 27px;
    left: 28px;
    margin-top: 65px;
}
.room-name span{
    font-family: var(--mono);

    font-size: 8px;

    letter-spacing: 1px;
}
.room-name strong{
     margin-top: 6px;

    font-family: var(--serif);

    font-size: 20px;

    font-weight: 400;
}
.hover-text{
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 6px;

    font-family: var(--serif);

    font-size: 10px;

    font-weight: 400;
    margin-top: -30px;
}
.hover-text span{
font-size: 10px;
color: rgb(168, 46, 1);
}
.info-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 23px;
    margin-top: 47px;
}
.info-card{
    min-height: 252px;
    padding: 22px 25px;
    background: var(--card);

    border: 1px solid #f0ece6;
    border-radius: 16px;
    transition:
        transform .3s ease,
        box-shadow .3s ease;
}
.card-top{
    display: flex;
    align-items: center;
}
.card-icon{
    display: flex;
    align-items: center;
    justify-content: center;
       border-radius: 7px;
color: white;
width: 40px;
    height: 40px;

    font-size: 19px;
    width: 40px;
    height: 40px;

}
.card-icon.orange {
    background: #bd4b22;
}


.card-icon.blue {
    background: #536ac2;
}


.card-icon.pink {
    background: #bd4d76;
}
.orange-text {
    color: #b94a25;
}


.blue-text {
    color: #596cb5;
}


.pink-text {
    color: #b65075;
}
.card-label {
      margin-left: 10px;

    font-family: var(--mono);

    font-size: 11px;

    letter-spacing: 1.5px;
}
.card-number{
    margin-left: auto;
     font-family: var(--serif);

    font-size: 25px;

    color: #b6afa7;
}
.info-card:nth-child(1) .card-number {
    color: #b94a25;
}


.info-card:nth-child(2) .card-number {
    color: #596cb5;
}


.info-card:nth-child(3) .card-number {
    color: #b65075;
}
.info-card h3{
    margin-top: 30px;
    font-size: 23px;
     font-family: var(--serif);
    font-weight: 400;

    line-height: 1.2;
}
.card-date{
    margin-top: 10px;
     font-size: 11px;

    color: #8a837a;
}
.info-card > p{
    margin-top: 19px;
     max-width: 330px;

    font-size: 12px;

    line-height: 1.6;

    color: #5d5750;
}
.wifi-details{
    margin-top: 18px;
     border-radius: 9px;

   
}
.wifi-row{
    display: flex;
    align-items: center;
    min-height: 31px;
    align-items: center;

    padding: 0 10px;
    background: #f0ede8;
    overflow: hidden;
    border-radius: 10px;

}
.wifi-row1{
    display: flex;
    align-items: center;
    min-height: 31px;
    align-items: center;

    padding: 0 10px;
    background: #f0ede8;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 3px;

}



    .wifi-row span {
    width: 75px;

    font-family: var(--mono);

    font-size: 8px;

    letter-spacing: 1px;

    color: #837c74;
     
}
.wifi-row strong{
     flex: 1;

    text-align: right;

    font-size: 9px;

    font-weight: 500;

    color: #5d5852;
}
 .wifi-row1 span {
    width: 75px;

    font-family: var(--mono);

    font-size: 8px;

    letter-spacing: 1px;

    color: #837c74;
     
}
.wifi-row1 strong{
     flex: 1;

    text-align: right;

    font-size: 9px;

    font-weight: 500;

    color: #5d5852;
}
.copy-button{
        margin-left: 8px;

    border: 1px solid #b3b1af;
    border-radius: 10px;

    background: transparent;

    font-family: var(--mono);

    font-size: 8px;

    color: #756e65;

    padding: 3px;

    transition: color .2s ease;

}
.copy-button:hover {
    color: var(--orange);
}

/* =========================
   MOBILE RESPONSIVENESS
========================= */

@media (max-width: 768px) {

    /* Main app */
    .app {
        display: block;
        min-height: 100vh;
    }

    /* Hide desktop sidebar */
    .sidebar {
        display: none;
    }

    /* Main content */
    .main {
        width: 100%;
        max-width: none;
        padding: 20px 16px 30px;
    }

    /* Header */
    .header {
        padding: 0;
        margin-bottom: 20px;
    }

    /* Hero section */
    .hero {
        min-height: auto;
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 20px 0 40px;
    }

    /* Receipt */
    .receipt {
        width: 100%;
        max-width: 380px;
        height: auto;
        min-height: 400px;
        transform: rotate(-3deg);
    }

    /* Welcome card */
    .welcome-card {
        width: 100%;
        max-width: 380px;
        height: auto;
        min-height: 400px;

        margin-left: 0;
        margin-top: -25px;

        transform: rotate(3deg);
    }

    /* Information cards */
    .info-grid {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .info-card {
        width: 100%;
    }
}
